:root {
    --widget-size: 300px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#react-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
}

.widgets-wrapper {
    display: flex;
}

.hue-ring-widget {
    width: var(--widget-size);
}

.hue-ring {
    width: var(--widget-size);
    height: var(--widget-size);
}

.value-display {
    font-size: 1.2rem;
    text-align: center;
}

.hotkey-tip {
    font-family: monospace;
    text-align: center;
    padding: 0.6rem 0rem;
}

.slice-plane-widget {
    width: var(--widget-size);
}

.slice-plane {
    width: var(--widget-size);
    height: var(--widget-size);
}

.demo-widget {
    display: flex;
    margin: 0.8rem 0rem;
}

.demo {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    text-align: center;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    font-size: 1.25rem;
}

.demo-text-light {
    background-color: black;
}

.demo-text-dark {
    background: white;
}

.demo-bg-light {
    color: white;
}

.demo-bg-dark {
    color: black;
}

.output {
    margin: 0.8rem 0rem;
}

.output-label, .output-value, .output-copy {
    font-size: calc(1.2rem);
    text-align: center;
    font-family: monospace;
}

.output-value {
    margin: 0rem 0.3rem;
}